@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.container{
    background-color: #F7F7F7;
    display: grid;
    width: 656px;
    height: 368px;   
    padding: 15px;
    margin:40px auto;      
    grid: 
    "video video  propaganda propaganda" 80px
    "video video box-video box-video" 80px
    "content-video content-video box-video box-video" 80px
    "content-video content-video box-video box-video" 80px;    
}
h1{
    font-size: 14px;
    font-weight: 700;
    padding: 2px;     
}
p{      
    font-size: 11px;   
    padding: 3px;          
}
.video{
    display: grid;       
    grid-area:video;    
    margin-top: 9px;           
}
.content-video{
    display: flex;
    flex-direction: column;
    grid-area: content-video;
    justify-content: flex-end;      
}
.propaganda{
    display: flex;
    grid-area:propaganda;
    justify-content: center;  
    align-items: center;  
    width: 310px;        
}
.propaganda p {      
  position: absolute;         
}
.right{
    display: flex;   
    flex-wrap: wrap;
    padding:15px ;    
}   
.box-video{
    display: flex;    
    width: 300px;
    grid-area: box-video;
    margin-bottom: 5px;
}

@media(max-width: 500px){
    .container{
        height: 100%;       
        display: flex;
        flex-direction: column;              
    }  
    .content-video p{
        width: 350px;
        margin: 5px;     
    }
    .right{
        padding:10px 0;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
    }      
    .propaganda{              
        justify-content: flex-start;
    }
    .propaganda p{
        margin-left: 100px;
      }
  
}